/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ====================== Meyer RESET ==========================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ============================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
	font-size:14px;
}
div {
}
h3 {
	font-weight:bold;
	line-height:1.3em;
}
#topbar {
	top:0px;
	height:30px;
	width:100%;
	background:#EEEEEE;
	margin: 0px 0px -30px 0px;
}
a {
	text-decoration:none;
}

#container {
	margin: 0 auto;
	width: 980px;
}

/* ======= header ======= */
#header {
	height:120px;
}
#header #navbar {
	line-height:30px;
	height:30px;
}
#header #navbar ul {
	list-style-type:none;
}
#header #navbar ul li {
	display:inline;
}
#header #navbar #navbar-left{
	width:auto;
	float:left;
}
#header #navbar #navbar-right {
	width:auto;
	float:right;
}
#header #logo {
	width:300px;
	height:60px;
	background:url("../img/logo.png") no-repeat;
	margin-top:10px;
	float:left;
}
#header #menu {
	height:30px;
	margin-top:10px;
	padding-top:40px;
}
#header #menu #menulist-left {
	float:left;
}
#header #menu #menulist-left a{
	margin:0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
	background-color:#777777;
	color:white;
}
#header #menu #menulist-left a:hover{
	background-color:#ff9900;
}

#header #menu #menulist-right {
	float:right;
}
#header #menu #menulist-right a{
	margin:0px 5px 0px 5px;
	padding: 5px 10px 5px 10px;
	background-color:#777777;
	color:white;
}
#header #menu #menulist-right a:hover{
	background-color:#ff9900;
}

/* ======= content ========*/

#content {
	margin:0px 0px 20px 0px;
}
/* ticket.html */
#content #tickettitle {
	font-size:180%;
	border-bottom:1px #cccccc solid;
	padding-bottom:5px;
	margin-bottom:5px;
}
#content #mainbar {
	width:700px;
	float:left;
}
#content #mainbar #subheader {
	margin-top:10px;
	width:100%;
	height:30px;
	border-bottom:1px solid #cccccc;
}
#content #mainbar #subheader #subheader-title {
	float:left;
	font-weight:bold;
	font-size:18px;
	line-height:30px;
}
#content #mainbar #subheader #subheader-list {
	float:right;
	line-height:30px;
}
#content #mainbar #subheader #subheader-list a {
	height:29px;
	float:left; 
	margin:0px 10px 0px 10px;
	color:#777;
	line-height:30px;
	border-style:solid;
	border-color:transparent transparent #cccccc transparent;
	border-width:1px;
	padding: 0px 10px;
}
#content #mainbar #subheader #subheader-list a:hover {
	border-color:#cccccc #cccccc white #cccccc; 
}
#content #mainbar #subheader #subheader-list a.current-category {
	font-size:120%;
	padding:0px 11px 0px 11px;
	color:black;
	line-height:30px;
	border-color:#cccccc #cccccc white #cccccc;
}
#content #mainbar #ticketlist {
	margin:10px 0px 0px 0px;
}
#content #mainbar #ticketlist .ticket {
	background-color:#FFEFC6;
	border-bottom:solid 1px #EAEAEA;
	padding: 10px 10px;
}
#content #mainbar #ticketlist .ticket .ticketinfo {
	float:left;
	text-align:center;
}
#content #mainbar #ticketlist .ticket .minicounts {
	height:25px;
	font-size:160%;
}
#content #mainbar #ticketlist .ticket .ticketinfo .ticketvotes {
	height:38px;
	width:38px;
	float:left;
	margin:0px 5px 0px 0px;
	padding:5px;
	color:#555555;
}
#content #mainbar #ticketlist .ticket .ticketinfo .ticketanswers {
	height:38px;
	width:48px;
	float:left;
	margin:0px 5px 0px 0px;
	padding:5px;
}
#content #mainbar #ticketlist .ticket .ticketinfo .ticketanswers.answered{
	background-color:#75845C;
	color:#FFFFFF;
}
#content #mainbar #ticketlist .ticket .ticketinfo .ticketviews {
	height:38px;
	width:34px;
	float:left;
	margin:0px 5px 0px 0px;
	padding:5px;
	color:#999;
}
#content #mainbar #ticketlist .ticket .ticketsummary {
}
#content #mainbar #ticketlist .ticket .ticketsummary h3{ 

}
.tickettags{
	float:left;
	margin:10px 10px;
}
.tickettag{
	float:left;
	line-height:1.3em;
	margin:0px 5px;
	padding:1px 5px;
	background-color:#E0EAF1;
	border-bottom:1px solid #b3cee1;
	border-right:1px solid #b3cee1;
}
#content #mainbar #ticketlist .ticket .ticketsummary .timestamp {
	float: right;
	margin:10px 0px;
}
#content #mainbar #bottom-notice {
	margin: 10px 0px 0px 0px;
	background-color:#FFEFC6;
	font-size:140%;
	font-weight:bold;
}

/* ticket.html */
.ticketvote {
	width:50px;
	float:left;
	text-align:center;
	margin:0px 10px;
}
#content #mainbar .ticketcontent {
	float:left;
	width:620px;

}
#content #mainbar #ticketdetail .ticketinfo {
}
.ticketauthor {
	float:right;
	margin:10px;
	background-color:#cccccc;
	width:200px;
	height:50px;
	overflow:hidden;
}
#content #mainbar #ticketanswerbar {
	font-size:140%;
	margin:10px;
	border-bottom: 1px solid #cccccc;
}
#content #mainbar #ticketanswers .ticketanswer{
	padding:10px 0px;
	border-bottom:1px solid #cccccc;
}
#content #sidebar {
	width:240px;
	float:right;
}
#content #sidebar .widget {
	width:100%;
	height:150px;
	background-color:#C7EDCC;
	margin-top:10px;
}

/* ======= footer =========*/

#footbar {
	width:100%;
	background-color:#777777;
	border-top:7px solid #000;
	padding:0px 0px 20px 0px;
}
#footer {
	width:980px;
	margin:0 auto;
}
#footbar #footer #footlink {
	margin:20px 0px 0px 0px;
	float:left;
}
#footbar #footer #footlink a {
	color:#FFFFFF;
	margin: 0px 10px 0px 0px;
}
#footbar #footer #footinfo {
	color:#FFFFFF;
	margin:20px 0px 0px 0px;
	float:right;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}













