
h1 Login
div= info
form(action="/login",method="post")
    div
        div
            span Username:
            input(type="text",name="username")
        div
            span Password:
            input(type="text",name="password")
        input(type="submit",value="Login")

